.page#content {
    min-height: 800px;
    margin: 100px 1% 0 1%;
}

.pointer {
    cursor: pointer;
}

.page .form {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
}

.page .form input[type='submit'] {
    width: 150px;
    background-color: lightgreen;
}